* {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
}
.card {
  margin: 2rem;
}
.search-bar{
  display: flex;
  margin: auto;
  width: 35%;
}
.search-bar input {
  width: 20rem;
  margin-right: 0.8rem;
  cursor: pointer;
  line-height: 1.5;
  background-color: white;
  color: black;
  border: 1px solid gray;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin: 20px 0;
}