<div class="card">
  <img
    src="{{ comic?.thumbnail?.path }}.{{ comic?.thumbnail?.extension }}"
    alt="{{ comic?.title }}"
    (click)="goToDetailComics(comic?.id)"
  />

  <div class="card-body">
    <h2 class="card-title">{{ comic?.title }}</h2>
    <h5 class="card-title">
      <strong>Writer:
        <span *ngFor="let item of comic?.creators?.items">
          <span *ngIf="item.role === 'writer'" [innerHTML]="item?.name"></span>
        </span>
      </strong>
    </h5>
    <h5 class="card-title">
      <strong>Author:
        <span *ngFor="let item of comic?.creators?.items">
          <span *ngIf="item.role === 'author'" [innerHTML]="item?.name"></span>
        </span>
      </strong>
    </h5>
    <h5 class="card-title">Price: $ {{ comic?.prices[0].price || 'N/A' }}</h5>
    <h5 class="card-title">
      <span>Description: </span>
      <span *ngIf="comic?.description" [innerHTML]="comic?.description"></span>
      <span *ngIf="!comic?.description">The description is not available.</span>
    </h5>
  </div>
</div>
