<div class="card">
  <img
    src="{{ comic?.thumbnail?.path }}.{{ comic?.thumbnail?.extension }}"
    alt="{{ comic?.title }}"
    (click)="goToDetailComics(comic?.id)"
  />

  <div class="card-body">
    <h5 class="card-title">{{ comic?.title }}</h5>
    <h5 class="card-title">Writer: {{ comic?.creators?.items[0]?.name }}</h5>
    <h5 class="card-title">Author: {{ comic?.creators?.items[0]?.name }}</h5>
    <h5 class="card-title">Price: $ {{ comic?.prices[0].price }}</h5>
    <h5 class="card-title">
      Description: <span [innerHTML]="comic?.description"></span>
    </h5>
  </div>
</div>
